* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: violet;
    font-family: 'Open Sans', sans-serif;
}

.wrap {
    width: 99%;
    margin: 10px;
    background-color: #C7C7C7;
}

.wrap>h1 {
    color: #494B4D;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
    border-radius: 6px;
}

.wrap>h1:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #C7C7C7;
    margin: 20px 0;
}

.store-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.category_list :hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translate(-3);
}

.category_list {
    text-align: center;
    width: 18%;
    border: 2px solid #000120;
}

.category_list .category_item {
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: #E84C3D;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.category_list .ct_item-active {
    background: #2D3E50;
}


/* PRODUCTOS ============*/

.products-list {
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    transition: all 400ms ease;
}

.products-list .product-item {
    padding: 7px;
    background: #2D3E50;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    width: 22%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-list .product-item:hover {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    transform: translate(-3);
}

.products-list .product-item img {
    width: 100%;
    height: 210px;
}

.products-list .product-item a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #2D3E50;
    color: #fff;
    text-align: center;
    text-decoration: none;
}