/* spacing */

* {
    background: gray;
}

.contenido td {
    text-align: center;
    border: 1px solid black;
    margin: px;
}

table {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

td,
tr {
    padding: 0;
    margin: 3px;
}

.cabeza th {
    height: 50px;
    width: 1px;
    background-color: aquamarine;
}

.cabeza td {
    text-align: center;
    border: 1px solid black;
    background-color: aquamarine;
}

.ubicacion .municipio {
    text-align: left;
}

h3 {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
}

.columna td,
.columna h3 {
    text-align: center;
    background-color: aquamarine;
}

.ubicacion h3 {
    transform: rotate(-90deg);
}

.casos td {
    text-align: center;
    background-color: rgb(205, 99, 50);
}

.casos .total {
    font-weight: bolder;
}

.genero h3,
.genero td {
    text-align: center;
    background-color: rgba(45, 148, 13, 0.521);
}

.genero .tipogenero {
    text-transform: uppercase;
    font-size: 15px;
}

.causa h3 {
    text-align: center;
    background-color: darkcyan;
}

.causa td {
    background-color: darkcyan;
}

.causa .enfermedad {
    text-transform: uppercase;
}

.manejo td3 {
    background-color: rgba(72, 72, 204, 0);
}